<launch>

<arg name="image" value="camera/rgb/image_color"/>

<node name="draw_frames" pkg="pips" type="draw_frames" args="/base_link" output="screen">
    <remap from="image" to="$(arg image)" />
  </node>

<!-- Display the current depth image-->

<node name="input_viewer" pkg="image_view" type="image_view">
    <remap from="image" to="$(arg image)" />
    <param name="autosize" value="False" />
  </node>

<!-- Display the starting depth image with projected outline-->

<node name="output_viewer" pkg="image_view" type="image_view">
    <remap from="image" to="image_out" />
    <param name="autosize" value="False" />
  </node>

</launch>
